<div class="container-fluid">
  <br>
  <h4>All comments</h4><br>
    <div class="list-group">
      <% @comments.each do |comment| %>
        <a href="/comments/<%= comment.id %>/edit" class="list-group-item list-group-item-action">
          <strong>Comment nº <%= comment.id %></strong> <br>
          User nº <%= comment.user_id %> on gossip nº <%= comment.gossip_id %>/comment nº <%= comment.parent_comment_id %>:<br> 
          <%= comment.content %><br>
        </a>
      <% end %>
    </div>
</div>