<div class="container-fluid">
  <br>
  <h4>All comments</h4><br>
    <div class="list-group">
      <% @comments.each do |comment| %>
        <a href="/comments/<%= comment.id %>/edit" class="list-group-item list-group-item-action">
          <strong><%= User.find(comment.user_id.to_i).first_name %> 
          <%= User.find(comment.user_id.to_i).last_name %> on gossip nยบ <%= comment.gossip_id %>:</strong><br> 
          <%= comment.content %><br>
        </a>
      <% end %>
    </div>
</div>