<div class="container-fluid">
  <br>
  <h4> Create an account </h4>
  <div class="my-form">
    <%= form_with model: @user do |form|%>
      <div class="mb-3">
        <%= form.label :first_name %><br>
        <%= form.text_field :first_name %>
        <% @user.errors.full_messages_for(:first_name).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
      <div class="mb-3">
        <%= form.label :name %><br>
        <%= form.text_field :last_name %>
        <% @user.errors.full_messages_for(:last_name).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
      <div class="mb-3">
        <%= form.label :description %><br>
        <%= form.text_area :description %>
        <% @user.errors.full_messages_for(:description).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
      <div class="mb-3">
        <%= form.label :city %><br>
        <%= form.collection_select :city_id, City.order(:name), :id, :name %>
      </div>
      <div class="mb-3">
        <%= form.label :age %><br>
        <%= form.text_field :age %>
        <% @user.errors.full_messages_for(:age).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
      <div class="mb-3">
        <%= form.label :email %><br>
        <%= form.text_field :email %>
        <% @user.errors.full_messages_for(:email).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
      <div class="mb-3">
        <%= form.label :password %><br>
        <%= form.password_field :password %>
        <% @user.errors.full_messages_for(:password).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
      <div>
        <%= form.submit "Create your account", class: 'btn btn-success'%>
      </div>
    <% end %>
  </div>
</div>