<div class="container-fluid">
  <br>
  <h4>Profile of user nº <%= params[:id] %></h4><br>
    <p><strong>First name : </strong><%= @user.first_name %><br>
    <strong>Last name : </strong><%= @user.last_name %><br>
    <br>
    <strong>Age : </strong><%= @user.age %><br>
    <strong>City : </strong><%= @city.name %><br>
    <br>
    <strong>Description : </strong><%= @user.description %><br>
    <strong>Email : </strong><%= @user.email %><br>
    <br>
    All gossips from this user :<br>
    <div class="row justify-content-center">
      <% @user_gossips.each do |gossip| %>
        <div class="card text-center col-sm-3 bg-secondary mb-3" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Gossip nº <%= gossip.id %><br></h5>
            <p class="card-text">
            Author : <%= User.find(gossip.user_id.to_i).first_name %> <%= User.find(gossip.user_id.to_i).last_name %><br>
            Title : <%= gossip.title %> <br><br>
            <a href="/gossips/<%= gossip.id %>/" class="btn btn-danger btn-outline-light" role="button">Learn more</a>
          </div>
        </div>
      <% end %>
    </div>
  </p>
</div>