<div class="container-fluid">
  <br>
  <h4>Create a new gossip here</h4><br>
    <%= form_tag url_for(action: 'create'), method: "post" do %>

    <%= label_tag 'Title' %>
    <%= text_field_tag 'title' %>
    <br /> <br />

    <%= label_tag 'Content' %>
    <%= text_area_tag 'content' %>
    <br /> <br />

    <%= submit_tag "Create Gossip" %>
  <% end %>
</div>