<div class="container-fluid">
  <br>
  <h4>Gossip nยบ <%= params[:id] %> page</h4><br>
  <div class="my-box">
    <p><strong>Author: </strong><a href="/users/<%= @gossip.user_id %>/"><%= @user.first_name %> <%= @user.last_name %></a><br>
      <strong>City: </strong><a href="/cities/<%= @user.city_id %>/"><%= @city.name %></a><br><br>
      <strong>Title: </strong><%= @gossip.title %><br>
      <strong>Content: </strong><%= @gossip.content %><br><br>
      <strong>Creation date: </strong><%= @gossip.created_at %><br>
      <strong>Last update: </strong><%= @gossip.updated_at %><br><br>
      <a class="btn btn-danger btn-lg" href="/gossips/<%= params[:id] %>/edit" role="button">Edit this gossip</a>
    </p>
  </div>
  <br>
  <h4>Comment section <span class="badge bg-primary"><%= @gossip_comments.count %></span> </h4><br>
    <div class="list-group">
      <% @gossip_comments.each do |comment| %>
        <a href="/comments/<%= comment.id %>/edit" class="list-group-item list-group-item-action">
          <strong><%= User.find(comment.user_id.to_i).first_name %> <%= User.find(comment.user_id.to_i).last_name %></strong> commented: <br>
          "<%= comment.content %>"<br>
        </a>
      <% end %>
      <br>
      <a href="/comments/">See all comments</a>
    </div>
</div>