<!DOCTYPE html>
<html>
  <head>
    <title>The Gossip Project</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

<style> 
.jumbotron {
  background-image: url("https://hips.hearstapps.com/digitalspyuk.cdnds.net/16/05/1454599237-movies-star-wars-yoda.jpg?resize=980:*");
  background-size: cover;
}

.container-fluid { 
padding-left: 30px; 
padding-right: 30px; 
} 

.my-form {
  border: 1px solid #ccc;
  padding: 10px;
}

.my-box {
  border: 1px solid #ccc;
  padding: 10px;
}

.card{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
</style>

  <body>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/">The Gossip Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/welcome">Welcome</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/team">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
